<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <style>
      body{
        background-image: url(image/background/bg1.jpg);
      }
    </style>
    <title>About Us</title>
    
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <div class="container">
        <ul class="navbar-nav ml-1 mr-1 nav-fill">
          <li class="nav-item active">
            <a class="nav-link text-white" href="/" style="margin-left: 10px; margin-right: 10px;">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" href="/search" style="margin-left: 10px; margin-right: 10px;">Cafe di Jakarta</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" href="/rekomendasi" style="margin-left: 10px; margin-right: 10px;">Rekomendasi Cafe</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" href="/bantuan" style="margin-left: 10px; margin-right: 10px;">Bantuan</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" href="/about" style="margin-left: 10px; margin-right: 10px;">About Us</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" href="/admin" style="margin-left: 10px; margin-right: 10px;">Admin</a>
          </li>
        </ul>
      </div>
    </nav> 
    <br>
    <div class="container">
        <div class="row">
          <img src="image/about/untar.png" style="height: 8cm; width: 8cm; margin-bottom: 10px;">
            <div class="col">
                <div class="card-body" style="color: black;background-color:rgb(199, 255, 126)">
                    <b><p class="card-title">Halo, Perkenalkan nama saya adalah Gabriela Felicia. Saya merupakan mahasiswi
                        Jurusan Teknik Informatika di Universitas Tarumanagara.
                        Saat ini saya sedang menjalankan skripsi dengan judul
                        "Aplikasi Rekomendasi Cafe Di Jakarta Dengan Metode Algoritma C4.5".
                    </p></b>
                </div><br>
                <div class="card-body" style="color: black;background-color:rgb(255, 199, 126)">
                  <b><p class="card-title">Tujuan pembuatan aplikasi adalah untuk memberikan sistem rekomendasi cafe di Jakarta
                    berdasarkan 9 kriteria fasilitas yang akan di pilih oleh pengguna, 
                    serta disorting berdasarkan jarak terdekat antara pengguna dengan cafe tersebut.
                    Pada sistem rekomendasi cafe di Jakarta berbasis website ini menggunakan metode Algoritma C4.5
                  </p></b>
              </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row mx-auto m" style="justify-content: center;">
            <div class="col-md-3" style="margin-bottom: 1rem;">
                <div class="card text-center" style="height: 30rem;">
                  <img src="../image/about/buviny.jpg" class="card-img-top" style="width: stretch;">
                  <div class="card-body" style="color: black;background-color: rgb(211, 211, 243);">
                    <b><p class="card-text">Viny Christanti Mawardi S.Kom., M.Kom.</p></b><br>Dosen Pembimbing
                  </div>
                </div>
            </div>

            <div class="col-md-3" style="margin-bottom: 1rem;">
                <div class="card text-center" style="height: 30rem;">
                  <img src="../image/about/paknova.jpg" class="card-img-top" style="width: stretch;">
                  <div class="card-body" style="color: black;background-color: rgb(211, 211, 243);">
                    <b><p class="card-text">Novario Jaya Perdana S.Kom., M.T</p></b><br>Dosen Pendamping
                  </div>
                </div>
            </div>
        
            <div class="col-md-3" style="margin-bottom: 1rem;">
                <div class="card text-center" style="height: 30rem;">
                  <img src="../image/about/gaby.jpg" class="card-img-top" style="width: stretch; height: 8.1cm;">
                  <div class="card-body" style="color: black;background-color: rgb(211, 211, 243);">
                    <b><p class="card-text">Gabriela Felicia<br>NIM 535180057</p></b><br>Mahasiswi Skripsi
                  </div>
                </div>
            </div>
        </div>
    </div>
    
      
</body>
</html>
