<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <style>
      body{
        background-image: url(image/background/bghelp.jpg);
      }
    </style>
    <title>Bantuan</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <div class="container">
        <ul class="navbar-nav ml-1 mr-1 nav-fill">
          <li class="nav-item active">
            <a class="nav-link text-white" href="/" style="margin-left: 10px; margin-right: 10px;">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" href="/search" style="margin-left: 10px; margin-right: 10px;">Cafe di Jakarta</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" href="/rekomendasi" style="margin-left: 10px; margin-right: 10px;">Rekomendasi Cafe</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" href="/bantuan" style="margin-left: 10px; margin-right: 10px;">Bantuan</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" href="/about" style="margin-left: 10px; margin-right: 10px;">About Us</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" href="/admin" style="margin-left: 10px; margin-right: 10px;">Admin</a>
          </li>
        </ul>
      </div>
    </nav> 

    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <div class="card-body" style="background-color:lightblue; height: 150px; margin-top: 30px;">
                <h3 class="card-title">HOME</h3>
                <p class="card-text">Pada bagian ini menampilkan halaman utama dari aplikasi rekomendasi cafe berbasis website, 
                  dimana disini modul halaman utama ini yang dihubungkan dengan modul lain.</p>
            </div>
        </div>

        <div class="col-md-12">
          <div class="card-body" style="background-color:rgb(244, 253, 189); height: 150px; margin-top: 30px;">
              <h3 class="card-title">BANTUAN</h3>
              <p class="card-text">Pada halaman bantuan terdapat penjelasan mengenai modul-modul yang ada
                pada aplikasi rekomendasi Cafe di Jakarta.
              </p>
          </div>
      </div>

        <div class="col-md-12">
          <div class="card-body" style="background-color:rgb(178, 252, 156); height: 150px; margin-top: 30px;">
              <h3 class="card-title">ABOUT US</h3>
              <p class="card-text">Pada modul about us terdapat informasi tentang pembuatan aplikasi ini oleh siapa.
                lalu, tujuan pembuatan aplikasi adalah seperti apa. Dan metode apa yang digunakan untuk 
                memberikan rekomendasi cafe di Jakarta.
              </p>
          </div>
        </div>
        
        <div class="col-md-12">
          <div class="card-body" style="background-color:rgb(187, 183, 247); height: 150px; margin-top: 30px;">
              <h3 class="card-title">CAFE DI JAKARTA</h3>
              <p class="card-text">Pada modul halaman ini, pengguna dapat melihat tentang 
                cafe-cafe yang ada di Jakarta</p>
          </div>
        </div>

        <div class="col-md-12">
          <div class="card-body" style="background-color:rgb(116, 114, 134); height: 200px; margin-top: 30px; margin-bottom: 10px;">
              <h3 class="card-title">REKOMENDASI CAFE DI JAKARTA</h3>
              <p class="card-text">Pada modul halaman ini, pengguna dapat mengisi 9 kriteria fasilitas yang ada.
                dimana kriteria fasilitas tersebut antara lain adalah Wifi, Smoking Area, Indoor seating, Outdoor seating,
                Free parking, Valet parking, Takeaway, Home delivery dan Table booking. Kriteria fasilitas itu akan digunakan
                sebagai filtering serta akan di sorting berdasarkan jarak terdekat antara pengguna dengan cafe tersebut. 
                lalu dihasilkan rekomendasi cafe di Jakarta berdasarkan metode algoritma c4.5
              </p>
          </div>
        </div>

    </div>
    </div>  
      
</body>
</html>
